# constants
# Windows 
DEADLOCK_PATH="C:\Program Files (x86)\Steam\steamapps\common\Deadlock"

# WSL 
# DEADLOCK_PATH="/mnt/c/Program Files (x86)/Steam/steamapps/common/Deadlock"

# Linux
# DEADLOCK_PATH="/mnt/SteamLibrary\steamapps\common\Deadlock"

# https://github.com/ValveResourceFormat/ValveResourceFormat/releases
DECOMPILER_CMD=~/Downloads/Decompiler-windows-x64/Decompiler.exe

# runtime config
# Import game files from s3
IMPORT_FILES=false
BUILD_NUM=5282

# Decompile game files
DECOMPILE=true
# Fetch and parse changelogs
CHANGELOGS=true
# Parse decompiled game files
PARSE=true
# Use bot to push changes to wiki
WIKI_UPLOAD=false
# Cleanup decompiled files
CLEANUP=false

# Use extensive logging
VERBOSE=false

# Define paths
WORK_DIR="./decompiler/decompiled-data"
OUTPUT_DIR="../../deadlock-data/data/current" # uses deadlock-data repo to enable diff checking
# OUTPUT_DIR="../output-data" # local gitignored file
