# constants
# Windows 
DEADLOCK_PATH="C:\Program Files (x86)\Steam\steamapps\common\Deadlock"

# WSL 
# DEADLOCK_PATH="/mnt/c/Program Files (x86)/Steam/steamapps/common/Deadlock"

# Linux
# DEADLOCK_PATH="/mnt/SteamLibrary\steamapps\common\Deadlock"

# https://github.com/ValveResourceFormat/ValveResourceFormat/releases
DECOMPILER_CMD=~/Downloads/Decompiler-windows-x64/Decompiler.exe

# runtime config
# Import game files from s3
IMPORT_FILES=false
BUILD_NUM=5282

# Decompile game files
DECOMPILE=true
# Fetch and parse changelogs
CHANGELOGS=true
# Parse decompiled game files
PARSE=true
# Use bot to push changes to wiki
BOT_PUSH=false
# Cleanup decompiled files
CLEANUP=false
# Parse version info for recent manifests to link to current data
PARSE_VERSIONS=true

# Manifest ID linking
# Steam credentials
STEAM_USERNAME='my_username'
STEAM_PASSWORD='my_password'
# https://github.com/SteamRE/DepotDownloader/releases
DEPOT_DOWNLOADER_DIR=~/Downloads/DepotDownloader-windows-x64

# Define paths
WORK_DIR="./decompiler/decompiled-data"
OUTPUT_DIR="../../output-data"
