name: Auto Deploy

on:
  schedule:
    - cron: '0 * * * *'

  workflow_dispatch:
    inputs:
      english-only:
        type: boolean
        description: Only parse English localizations
        default: false
      
      force:
        type: boolean
        description: Run deployments even if version has not changed
        default: false

jobs:
  check-update:
    name: Check for new version
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.check_version.outputs.new_version }}
    steps:
      - name: Checkout Deadbot repo
        uses: actions/checkout@v4

      - name: Cache SteamDB repo
        uses: actions/cache@v4
        with:
          path: steamdb
          key: steamdb
          restore-keys: steamdb

      - name: Update SteamDB repo
        run: |
          if [ -d steamdb ]; then
            cd steamdb
            git reset --hard
            git pull
          else
            git clone https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/SteamDatabase/GameTracking-Deadlock.git steamdb
          fi

      - name: Cache deadlock-data repo
        uses: actions/cache@v4
        with:
          path: deadlock-data
          key: deadlock-data
          restore-keys: deadlock-data

      - name: Update deadlock-data repo
        run: |
          if [ -d deadlock-data ]; then
            cd deadlock-data
            git reset --hard
            git pull
          else
            git clone https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/deadlock-wiki/deadlock-data.git deadlock-data
          fi

      - name: Check for new Deadlock version
        id: check_version
        run: |
          chmod +x ./.github/workflows/scripts/check_for_update.sh
          new_version=$(./.github/workflows/scripts/check_for_update.sh './steamdb' './deadlock-data')
          echo "new_version=$new_version" >> $GITHUB_OUTPUT

  deploy-develop:
    name: Deploy develop
    needs: check-update
    if: ${{ needs.check-update.outputs.new_version || github.event.inputs.force == 'true' }}
    uses: ./.github/workflows/deploy.yaml
    with:
      branch-override: develop
      english-only: ${{ github.event.inputs.english-only == 'true' }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      STEAM_USERNAME: ${{ secrets.STEAM_USERNAME }}
      STEAM_PASSWORD: ${{ secrets.STEAM_PASSWORD }}
      BOT_WIKI_PASS: ${{ secrets.BOT_WIKI_PASS }}
  
  deploy-master:
    name: Deploy master
    needs: check-update
    if: ${{ needs.check-update.outputs.new_version || github.event.inputs.force == 'true' }}
    uses: ./.github/workflows/deploy.yaml
    with:
      branch-override: master
      english-only: ${{ github.event.inputs.english-only == 'true' }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      STEAM_USERNAME: ${{ secrets.STEAM_USERNAME }}
      STEAM_PASSWORD: ${{ secrets.STEAM_PASSWORD }}
      BOT_WIKI_PASS: ${{ secrets.BOT_WIKI_PASS }}
